<!DOCTYPE html>
<html lang="en">

<head th:remove="tag" th:fragment="commonhead">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   

    <!-- Bootstrap Core CSS -->
    <link href="resources/lib/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="resources/lib/css/sb-admin.css" rel="stylesheet" />
           <link rel="stylesheet" href="resources/lib/css/style/animsition.css" />

    <!-- Morris Charts CSS -->
    <link href="resources/lib/css/plugins/morris.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="resources/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="resources/lib/font-awesome/css/font-awesome-animation.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
.scrollable-menu {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}
</style>
</head>

<body>


        <!-- Navigation -->
        <nav th:fragment="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="resources/lib/img/zlogo.png" height="50px"></img>
                              	 <span style="font-family: Impact, Charcoal, sans-serif; color:#18bc9c; font-size:large" > ID:&nbsp;</span>
                    <span sec:authentication="name" style="font-family: Impact, Charcoal, sans-serif; color:white; font-size:x-large " > </span>
                     <span style="font-family: Impact, Charcoal, sans-serif; color:#18bc9c; font-size:large" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Role:&nbsp;</span>
                    <span sec:authentication="principal.authorities"  style="font-family: Impact, Charcoal, sans-serif; color:white; font-size:x-large "></span>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                        <li id="notification" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul id="list" class="scrollable-menu col-lg-6 list-group dropdown-menu alert-dropdown">
                
                    </ul>
                </li>
                  <li >
                    <a href="./logout" ><i class="fa fa-power-off"></i> Log out </a> 
                 </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" id="nav-bar">
                 <li id="inventory" class="active">
                        <a href="./inventory" class="faa-parent animated-hover " ><i class="fa fa-fw fa-cubes faa-burst "></i> Inventory Items</a>
                    </li>
                    <li id="addrm">
                        <a href="./addinventory" class="faa-parent animated-hover "><i class="fa fa-fw fa-plus faa-burst"></i > Add/Remove Items</a>
                    </li>
                    <li id="update">
                        <a href="./updateinventory" class="faa-parent animated-hover "><i class="fa fa-fw fa-arrow-up faa-burst"></i>  Update Automobile details</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>



</body>

</html>
