<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:remove="tag" th:fragment="footer">

    <!-- jQuery -->
 <script src="resources/lib/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="resources/lib/js/jquery.validate.min.js" type="text/javascript"></script>
			<script src="resources/lib/js/moment.js"></script>
		<script src="resources/app/js/common.js" type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="resources/lib/js/bootstrap.min.js"></script>
<script src="resources/lib/js/style/animsition.js"></script>
<script src="resources/lib/js/transition.js"></script>

</div>
</body>
</html>